@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-fluid">
    <h2>Product List</h2>
    <table>
        <thead>
            <tr>
                <th class="js-sorting" data-field="productId">ProductID</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th class="js-sorting" data-field="unitPrice">Unit Price</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section Scripts {
  <script type="text/javascript">
    $(document).ready(()=>{
        var tbody = $("table tbody");
        var thead = $("table thead");
        var apiProductEnpoint = "http://localhost:5294/api/Product";
        var products = [];
        var id_asc = 1;
        var price_asc = 1;

        var showAllProducts = () => {
            tbody.html("");
            products = [];
            $.ajax({
                url: apiProductEnpoint,
                type: "get",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: (result, status, xhr) => {
                    $.each(result, (index, value) => {
                        products.push(value);
                        tbody.append(`
                            <tr data-id="${value["productId"]}">
                                <td>${value["productId"]}</td>
                                <td>${value["productName"]}</td>
                                <td>${value["unitsInStock"]}</td>
                                <td>${value["unitPrice"]}</td>
                                <td><a class="js-edit" href="/${value["productId"]}" >Edit</a></td>
                                <td><a class="js-delete" >Delete</a></td>
                            </tr>
                        `);
                    })
                },
                error: (xhr, status, error) => {
                    console.log(xhr);
                }
            })
        };
        var initEvents = () => {
            tbody.on("click", ".js-delete", function(){
                var productID = $(this).closest("tr").data("id");
                $.ajax({
                    url: `${apiProductEnpoint}/${productID}`,
                    type: "delete",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: (result, status, xhr) => {
                        showAllProducts();
                    },
                    error: (xhr, status, error) => {
                        console.log(xhr);
                    }
                });
            });

            thead.on("click", ".js-sorting", function() {
                var field = $(this).data("field");
                if (field != "productId" && field != "unitPrice"){
                    return console.log("Not supported!");
                }

                if (field == "productId"){
                    products = products.sort((a, b) => id_asc * (a.productId - b.productId));
                    id_asc*= -1;
                }

                if (field == "unitPrice"){
                    products = products.sort((a, b) => price_asc * (a.unitPrice - b.unitPrice));
                    price_asc*= -1;
                }

                tbody.html("");

                $.each(products, (index, value) => {
                        tbody.append(`
                            <tr data-id="${value["productId"]}">
                                <td class="js-sorting" data-field="productId">${value["productId"]}</td>
                                <td>${value["productName"]}</td>
                                <td>${value["unitsInStock"]}</td>
                                <td class="js-sorting" data-field="unitPrice">${value["unitPrice"]}</td>
                                <td><a class="js-edit" href="/${value["productId"]}" >Edit</a></td>
                                <td><a class="js-delete" >Delete</a></td>
                            </tr>
                        `);
                    })
            });
        };

        showAllProducts();
        initEvents();
    });
</script>
}
